.header-container {
    border: solid 1px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 545px auto auto;
    place-items: content;
    padding: 10px 30px;
    position: sticky;
    /* left: 0;
    right: 0; */
    top: 0;
    z-index: 10;
    background-color: white;

}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    color: #2C3333;
}

.search-input {
    width: 70%;
    height: 35px;
    align-self: center;
    padding: 10px;
    background-color: #efefef;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
}

.account-stuff {
    display: grid;
    grid-template-columns: repeat(6, auto);
    place-content: center;
    justify-content: start;
    gap: 20px;
    position: relative;
}

.account-stuff li {
    cursor: pointer;
}

.account-stuff img {
    width: 24px;
    height: 24px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.header-icons {
    cursor: pointer;
}

.header-menu {
    display: grid;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    right: 275px;
    top: 43px;
    z-index: 10;
    background-color: white;
    place-items: start;
    gap: 5px;
    width: 100px;
}

.header-menu span {
    font-size: 14px;
}

.header-menu span:hover {
    color: #2C3333;
    cursor: pointer;
}

.recents {
    position: absolute;
    top: 48px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    left: 575px;
    padding: 10px 20px;
    z-index: 10;
    background-color: white;
    display: grid;
    place-items: start;
    gap: 20px;
    width: 300px;
}

.recents h3 {
    font-size: 14px;
    font-weight: 400;
}

.recents ul {
    display: grid;
    gap: 10px;
}