.suggested-user-container {
    display: grid;
    grid-template-columns: 30px auto auto;
    /* border: solid 1px green; */
    place-items: start;
    padding: 5px;
    gap: 10px;
    cursor: pointer;
}

.suggested-user-container img {
    border-radius: 50%;
}

.username-followedby {
    display: grid;
    place-items: start;
}

.suggested-user-username {
    font-size: 12px;
}

.followed-by {
    font-size: 10px;
    color: #B2B1B9;
}

.follow-btn {
    color: #0095f6;
    justify-self: end;
    align-self: center;
    font-weight: 600;
    background-color: unset;
    border: none;
    font-size: 11px;
    cursor: pointer;
}